# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host_prod:                   ~
    database_port_prod:                   ~
    database_name_prod:                   ~
    database_user_prod:                   ~
    database_password_prod:               ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path_prod:     "%kernel.root_dir%/data.db3"

    database_host_dev:                    ~
    database_port_dev:                    ~
    database_name_dev:                    ~
    database_user_dev:                    ~
    database_password_dev:                ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path_dev:      "%kernel.root_dir%/data.db3"

    mailer_transport_prod:                ~
    mailer_host_prod:                     ~
    mailer_port_prod:                     ~
    mailer_encryption_prod:               ~
    mailer_auth_mode_prod:                ~
    mailer_user_prod:                     ~
    mailer_password_prod:                 ~

    mailer_transport_dev:                 ~
    mailer_host_dev:                      ~
    mailer_port_dev:                      ~
    mailer_encryption_dev:                ~
    mailer_auth_mode_dev:                 ~
    mailer_user_dev:                      ~
    mailer_password_dev:                  ~

    fos_user_from_email_address_prod:     ~
    fos_user_from_email_sender_name_prod: ~

    fos_user_from_email_address_dev:      ~
    fos_user_from_email_sender_name_dev:  ~

    # A secret key that's used to generate certain security-related tokens
    secret:                               ThisTokenIsNotSoSecretChangeIt
